/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-background-dark: #3C3B53;
  --color-background-light: #43425D;
  --color-grey-light-0: rgba(250, 249, 249, 0.5);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #4D4F5C;
  --color-grey-dark-3: #999;
  --color-white: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --button-primary-blue: #4c84ff;
  --button-primary-blue-darker: #2d69eb;
  --button-secondary-green: #2bcb98;
  --button-secondary-red: #FF6565;
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

html, body {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html, body {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html, body {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html, body {
      font-size: 75%; } }

body {
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-grey-light-1), var(--color-grey-light-4));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.web__container {
  max-width: 100% !important;
  min-height: 100vh;
  margin: 0 auto; }

.header {
  height: 7rem;
  background: var(--color-white);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; }

.sidebar {
  border-right: var(--line);
  background-color: var(--color-background-light);
  position: fixed;
  left: 0;
  top: 0;
  width: 25rem;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh);
  z-index: 999; }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      display: none; } }

.main {
  margin-top: 7rem;
  padding: 4rem 4rem 7rem 29rem;
  width: 100%;
  min-height: calc(100vh - 7rem);
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: 20rem 10rem auto; }
  @media only screen and (max-width: 37.5em) {
    .main {
      padding: 2rem;
      grid-auto-rows: 20rem 20rem auto; } }

.footer {
  position: absolute;
  bottom: 0;
  background: var(--color-white);
  z-index: 1;
  height: 7rem;
  width: calc(100%);
  z-index: 100; }

.logo {
  width: 25rem;
  height: 100%;
  display: flex;
  padding: 0 2rem;
  box-sizing: border-box;
  border-right: var(--line);
  background: var(--color-background-dark); }
  @media only screen and (max-width: 37.5em) {
    .logo {
      padding: 0 2rem; } }
  .logo h1 {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--color-white); }

.page_title {
  width: 30rem;
  text-align: center; }
  .page_title h2 {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase; }

.user-nav {
  width: 30rem; }

.side-nav {
  font-size: 1.5rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative;
    float: none; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-background-dark);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-background-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem 0.5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    .side-nav__icon path {
      fill: #fff; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: 0.7rem;
        width: 1.5rem;
        height: 1.5rem; } }

.overview > * {
  background: var(--color-white); }

.overview .total__available-funds svg path {
  fill: var(--color-background-dark); }

.overview .total-funds {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 400;
  color: var(--color-background-dark); }

.overview .total-funds-description {
  font-size: 1.2rem;
  font-weight: 400; }

.overview .total__income {
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center; }
  .overview .total__income svg path {
    fill: var(--button-secondary-green); }
  .overview .total__income-funds {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 400;
    color: var(--button-secondary-green); }
  .overview .total__income-description {
    font-size: 1.2rem;
    font-weight: 400;
    align-self: start; }

.overview .total__expenses svg path {
  fill: var(--button-secondary-red); }

.overview .total__expenses-value {
  color: var(--button-secondary-red); }

.overview .total__expenses-funds {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 400; }

.overview .total__expenses-percentage {
  font-size: 1.5rem;
  font-weight: 400; }

.overview .total__expenses-description {
  font-size: 1.2rem;
  font-weight: 400; }

.input__section-wrapper {
  background: var(--color-grey-light-2); }

.input__section .form-control {
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border-color: var(--color-grey-light-2); }
  .input__section .form-control:focus {
    border: 1px solid var(--button-primary-blue);
    box-shadow: none; }

.input__option {
  width: 100%; }

.input__btn {
  position: relative;
  border-radius: 3rem;
  width: 15rem;
  height: 3rem;
  color: var(--color-white);
  background: var(--button-primary-blue);
  text-align: left;
  text-transform: uppercase;
  padding-left: 2rem; }
  .input__btn svg {
    position: absolute;
    top: 50%;
    right: 0.4rem;
    background-color: var(--button-primary-blue-darker);
    border-radius: 50%;
    transform: translateY(-50%); }
    .input__btn svg path {
      fill: var(--color-white); }

.history__income-title,
.item__value-income {
  color: var(--button-secondary-green); }

.history__expense-title,
.item__value-expense {
  color: var(--button-secondary-red); }

.list-item {
  margin: 0.5rem 0;
  font-size: 1.6rem;
  line-height: 1.7em;
  height: 2rem;
  border-bottom: 0.05rem solid var(--color-grey-light-3);
  transition: transform 0.3s;
  transition: border 0.3s;
  transition: background-color 0.3s; }
  .list-item:hover {
    border-bottom: 0.05rem solid var(--button-primary-blue); }
    .list-item:hover .item__delete--btn {
      display: block; }
    .list-item:hover .item__value,
    .list-item:hover .item_value_percentage {
      transform: translateX(-2rem); }
    .list-item:hover .item__delete--btn {
      transform: translateX(-1rem);
      opacity: 1; }

.right {
  transition: transform 0.6s; }

.item__value,
.item_value_percentage {
  transition: transform 0.3s; }

.item_value_percentage {
  font-size: 1.2rem;
  background-color: var(--button-secondary-red);
  padding: 0 0.5rem;
  color: var(--color-white);
  border-radius: 0.3rem; }

.item__delete {
  transition: transform 0.3s;
  transition: opacity 1s; }
  .item__delete .item__delete--btn {
    transition-delay: 2s;
    opacity: 0;
    transition: transform 2s;
    transition: opacity 1s;
    background: transparent;
    border: none;
    display: none;
    cursor: pointer; }
    .item__delete .item__delete--btn svg path {
      fill: var(--button-secondary-red); }

.history-panel--title,
.history__expense-title,
.history__income-title {
  font-size: 1.5rem; }

.red-btn {
  background: var(--button-secondary-red) !important; }
  .red-btn svg {
    background-color: var(--color-primary-light); }

.form-control-red:focus {
  border: 1px solid var(--button-secondary-red) !important; }

.overview {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr); }
  @media only screen and (max-width: 37.5em) {
    .overview {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, [row], auto);
      grid-gap: 1rem;
      margin: 1rem 0; }
      .overview .total__available-funds {
        grid-column: 1 / span 2;
        grid-row: row; }
      .overview .total__expenses {
        grid-column: 1 / span 1;
        grid-row: row 2; }
      .overview .total__income {
        grid-column: 2 / span 1;
        grid-row: row 2; } }
  .overview .total__available-funds {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    align-content: center;
    justify-items: center; }
  .overview .total__income {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    align-content: center;
    justify-items: center; }
  .overview .total__expenses {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    align-content: center;
    justify-items: center; }
    .overview .total__expenses-value {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      align-self: end;
      align-items: center; }
    .overview .total__expenses-funds {
      align-self: end; }
    .overview .total__expenses-description {
      align-self: start; }

.input__section-wrapper {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 1rem 0;
  margin: 1rem 0; }

.input__section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, [row] auto);
  grid-template-columns: wrap;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .input__section {
      grid-template-rows: repeat(2, [row] auto); } }
  .input__section .form-control {
    height: 5rem; }

.input__type {
  grid-column: 2 / span 2; }
  @media only screen and (max-width: 37.5em) {
    .input__type {
      grid-column: 1 / span 3;
      grid-row: row 2; } }

.input__description {
  grid-column: 4 / span 5; }
  @media only screen and (max-width: 37.5em) {
    .input__description {
      grid-column: 1 / span 12;
      grid-row: row; } }

.input__value {
  grid-column: 9 / span 1; }
  @media only screen and (max-width: 37.5em) {
    .input__value {
      grid-column: 4 / span 4;
      grid-row: row 2; } }

.input__btn {
  grid-column: 10 / span 1; }
  @media only screen and (max-width: 37.5em) {
    .input__btn {
      grid-column: 8 / span 4;
      grid-row: row 2; } }

.budget {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(1fr, auto); }
  .budget > * {
    background: var(--color-white); }

.available-funds-panel {
  grid-row: span 3;
  display: none; }

.history-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 8fr; }
  .history-panel--title {
    grid-column: span 2;
    align-self: center;
    padding: 0 2rem; }
  .history-panel .history__income-container,
  .history-panel .history__expense-container {
    padding: 2rem; }

.history__expense-title,
.history__income-title {
  margin: 0 0 1rem; }

.list-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  align-items: center;
  height: 4rem; }
  .list-item .item__description {
    grid-column: span 3; }
  .list-item .right {
    justify-self: end;
    align-self: center;
    display: grid;
    grid-gap: 0.5rem;
    grid-column: span 3;
    grid-auto-flow: column; }
