
.content {
    
}

///////////////////////////////////////
// SIDEBAR  

.sidebar {
    border-right: var(--line);
    background-color: var(--color-background-light);
    position: fixed;
    left: 0;
    top: 0;
    width: 25rem;
    margin-top: $header-height;
    // width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh );
    z-index: 999;
}

//////////////////////////////////////////
// MAIN

////////////////////////////////////////
// OVERVIEW
.overview {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
                    
    .total {
        &__available-funds {
            display: grid;
            grid-template-columns: 10rem 10rem;
            grid-auto-rows: auto;
            align-items: center;
            justify-content: center;
            svg {
                justify-self: center;
                grid-row: span 2;
            }
        }
        &-funds {
            align-self: end;
        }
        &-funds-description {
            
            align-self: start;
        }

        &__income {

            display: grid;
            grid-template-columns: 10rem 10rem;
            grid-auto-rows: auto;
            align-items: center;
            justify-content: center;

            svg {
                justify-self: center;
                grid-row: span 2;
                
            }
            &-funds {
                align-self: end;
            }
            &-description {
                align-self: start;
            }
        }
        &__expenses {
            display: grid;
            grid-template-columns: 10rem 10rem;
            grid-auto-rows: auto;
            align-items: center;
            justify-content: center;

            svg {
                justify-self: center;
                grid-row: span 2;
            }
            &-value {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;
                align-self: end;
                align-items: center;
            }
            &-funds {
                align-self: end;
            }
            &-description {
                align-self: start;
            }
        }
    }


}

////////////////////////////////////////
// INPUT BAR
.input {
    &__section-wrapper {
        display: grid;
        align-content: center;
        justify-content: center;
    }
    &__section {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        .form-control {
            height: 5rem;
        }
    }
    &__type {
        grid-column: 2 / span 2;
    }
    &__description {
        grid-column: 4 / span 5;
    }
    &__value {
        grid-column: 9 / span 1;
    }
    &__btn {
        grid-column: 10 / span 1;
    }

}
////////////////////////////////////////
// BUDGET   
.budget {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(1fr, auto);
    & > * {
        background: var(--color-white);
    }
}

    
////////////////////////////////////////
// BUDGET LEFT 
// Available Funds 
.available-funds-panel {
    grid-row: span 3;
}
////////////////////////////////////////
// BUDGET RIGHT
// History panel
.history-panel {
    
    grid-column: 2 / span 2;
    grid-row: 1/ span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr;
    &--title {
        grid-column: span 2;
        align-self: center;
        padding:0 2rem;
    }
    .history__income-container,
    .history__expense-container {
        padding: 2rem;
        
    }
}
.history__expense-title,
.history__income-title {
    margin: 0 0 1rem;
    
}
.list-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    .item__description {
        grid-column: span 4;
    }
    .right {
        justify-self: end;
        align-self: center;
        display: grid;
        grid-gap: 0.5rem;
        grid-column: span 2;
        grid-auto-flow: column;
    }
}


