.container {
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    
}

.header {
    height: $header-height;
    background: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar {
    border-right: var(--line);
    background-color: var(--color-background-light);
    flex: 0 0 25rem;
    // width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 7rem);
}

.main {
    padding: 4rem;
    width: 100%;
    display: grid;
    grid-gap: 2rem;

    .budget {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
        & > * {
            background: var(--color-white);
        }
        .history-panel {
            grid-column: 2 / span 2;
        }
    }

    .statistics {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(4, 1fr);

    }
}