.container {
    max-width: 114rem;
    margin: 0 auto;
}
//////////////////////////////////////////
// Header

.header {
    height: 6.5rem;
    background: var(--color-white);
    .logo {
        
    }
}